/frontend/node_modules
/backend/public/hot
/backend/public/storage
/backend/public/assets/products
/backend/storage/*.key
/backend/vendor
.env
/backend/.env
.env.backup
/backend/.env.backup
.env.prod
/backend/.env.prod
.env.local
/backend/.env.local
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
