



.nameProduct{
    margin-top:-40px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.nameProductProducts{
    margin-top:-60px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.priceProduct{
    font-weight:600;
    /* font-size:em; */
}
.imageProduct{
    width:100%;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    height:300px;
    object-fit: cover;
    opacity:0.9;
    transition: .5s ease;
    backface-visibility: hidden;
}
.imageProductCarousel{
    width:100%;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    height:100%;
    object-fit: cover;
    opacity:0.9;
    transition: .5s ease;
    backface-visibility: hidden;
}





.test{
    background-color:red;
    margin:0px;
}
.greyLineMenuProduct{
    height:1px;
    background-color:rgb(218, 218, 218);
    width:100%;
    margin-top:15px;
}
.menuButton{
    margin-left:40px;
    padding-bottom:18px;
    color:rgb(97, 97, 253);
}
.menuButton:hover{
    cursor:pointer;
    border-bottom:1px solid black;
    color:rgb(160, 216, 30);
}
.paragraphMenuProduct{
    text-justify: inherit;
    padding:30px;
}
.menuDetailsProduct{
    padding:80px;
}
.alignCenter{
    display:flex;
    align-items: center;
}


.buttonAdd{
    cursor:pointer;
    border-top:1px solid rgb(230, 230, 230);
    border-bottom:1px solid rgb(230, 230, 230);
    width:50px;
    font-weight: 300;

}
.buttonSubstract{
    cursor:pointer;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border:1px solid rgb(230, 230, 230);
    width:50px;
    font-weight: 300;
    color:rgb(116, 116, 116);
   
}
.quantityProduct{
    border:1px solid rgb(230, 230, 230);
    width:50px;
    font-weight: 300;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    color:rgb(44, 44, 44);
}
.buttonAddToCart{
    cursor:pointer;
    border:1px solid rgb(230, 230, 230);
    width:200px;
    /* width:90%; */
    font-weight: 200;
    border-radius:5px;
    color:rgb(58, 58, 58);
}
.buttonAddToCartMobile{
    cursor:pointer;
    border:1px solid rgb(230, 230, 230);
    width:100%;
    font-weight: 200;
    border-radius:5px;
    color:rgb(58, 58, 58);
}
.boutonPagination{
    color:rgb(36, 36, 36)(0, 0, 0);
    /* background-color:rgb(243, 243, 243); */
}


.boutonPagination{
    width:25px;
    padding:10px;
    padding-left:25px;
    padding-right:32px;
    /* margin:10px; */
    font-size:1.1em;
    border-radius:5px;
}
.boutonPaginationSelected{
    width:25px;
    padding:10px;
    padding-left:25px;
    padding-right:32px;
    font-size:1.1em;
    color:rgb(82, 82, 82);
    font-weight:600;
    background-color:rgb(226, 226, 226)
}
.boutonPagination:hover{
    font-size:1.1em;
    color:grey;
    background-color:rgb(241, 241, 241);
    cursor:pointer;
}
/* .productDetails{
    font-size:1.9em;
} */
.starsProductReview{
    display:flex;
    flex-direction: row-reverse;
}
@media all and (max-width: 600px) {
    .marginTop600px{
      margin-top:20px;
    }
  }
  @media all and (max-width: 400px) {
  
    .buttonAddToCart{
        width:120px;
    }
  }

.buttonCategory{
    border-radius:20px;
    background-color: rgb(232, 233, 241);
    border:1px solid rgb(189, 189, 189);
    color:rgb(133, 133, 133);
}
.buttonCategory:hover {
    background-color: rgb(212, 213, 238);
    cursor:pointer;
}
.widthFormControl{
    width:140px;
    height:50px;
}
.optionSelect{
    height:30px;
}
.optionSelect:hover{
    cursor:pointer;
    background-color:rgb(220, 224, 241);
}
.hideProduct2{
    opacity:0;
    height:50px;
    margin-bottom:20px;
}
.cardProduct:hover .hideProduct2{
    display:block;
    position:relative;
    top:10px;
    z-index: 100;
    /* font-size:1.5em; */
    background:white;
    opacity:1;
    color:rgb(75, 75, 75);
 }
 .cardProduct:hover {
    -webkit-box-shadow: 0 0 4px 2px rgb(214, 214, 214);
    -moz-box-shadow: 0 0 4px 2px rgb(214, 214, 214);
    box-shadow: 0 0 4px 2px rgb(214, 214, 214);
 }

 .cardProduct:hover .imageProduct2{
    opacity:0.6;
}
.imageProduct2{
    width:100%;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    height:300px;
    object-fit: cover;
    opacity:0.9;
    transition: .5s ease;
    backface-visibility: hidden;
}

.colorButton1{
    background-color:rgb(183, 193, 218);
}

.marginSpinner{
    padding-top:260px;
    padding-bottom:200px;
}
.switchImg{
    /* border: 1px solid rgb(206, 206, 206); */
    border-radius:3px;
    /* height:120px; */
    width:90px;
    object-fit: cover;
}
.scrollSmooth{
    scroll-behavior: smooth;
}
@media all and (max-width: 600px) {
    .productComputer{
        display:none;
    }
  }
@media all and (min-width: 601px) {
    .productMobile{
        display:none;
    }
  }
.switchImgMobile{
    border: 1px solid rgb(199, 199, 199);
    border-radius:3px;
    height:60px;
    width:60px;
    object-fit: cover;
    margin-right:5px;
}
.singleProduct{
    overflow-x: hidden;
}
.MuiPaper-root{
    background-color:rgb(255, 251, 238) !important;
}
.MuiPaper-elevation1{
    box-shadow: 0px 0px 0px 0px black !important;
}
.MuiAccordionSummary-root{
    padding:0px !important;
}
.imageProductMobile{
    width:100%;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    height:100px;
    object-fit: cover;
    opacity:0.9;
}
.greyBarProductMobile{
    position: relative;
    right:15px;
    width:106%;
    height:1px;
    background-color: rgb(218, 218, 218);
}
/* .positionFixTop{
    position:fixed;
    top:100px;
    
    
    background-color: red;
} */

.numberStars{
    position: relative;
    bottom:0px;
}
.cardExample{
    background-color:rgb(151, 151, 199);
    width:260px;
    height:300px;
    margin:10px;
}
.contentProducts{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.pageClassName{
    display:flex;
    justify-content: center;
}
.containerClassName{
    display:flex;
    list-style: none;
    margin:0;
    padding:0;
    margin-top:20px;
    
}
.previousClassName{
    color:grey;
    display:flex;
    justify-content: center;
    align-content: center;
}
.nextClassName{
    color:grey;
    display:flex;
    justify-content: center;
    align-content: center;
}
.pageLinkClassName{
    width:25px;
    height:25px;
    cursor:pointer;
    margin:7px;
    display:flex;
    justify-content: center;
    align-content: center;
}
.pageLinkClassNameReview{
    width:25px;
    height: 20px;
    cursor:pointer;
    margin:7px;
    display:flex;
    justify-content: center;
    align-content: center;
    display:flex;
    align-items:center;
    height:30px;
}
.activeLinkClassName{
    background-color:rgb(255, 255, 255);
    color:rgb(184, 184, 219);
    border:1px solid rgb(195, 195, 195);
    border-radius: 2px;
    text-align: center;
    display:flex;
    align-items:center;
    height:30px;
}
.breakClassName{
    
    width:25px;
    height:30px;
    margin:7px;
    text-align: center;
}
.previousLinkClassName{
    width:25px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    cursor:pointer;
    
}
.nextLinkClassName{
    width:25px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    cursor:pointer;
}

.imgAppearTransition{
    /* transition-delay: 250ms; */
    animation: 1s fadeIn;
}
@keyframes fadeIn {
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
@media all and (max-width: 600px) {
    .divPc{
        display:none;
    }
  }
@media all and (min-width: 601px) {
    .divMobile{
        display:none;
    }
  }
@media all and (min-width:1201px) {
    .imageOneProduct{
        width:400px;
        border-radius:4px;
        object-fit: cover;
        opacity:1;
    }
    .dispositionImageProduct{
        display:flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
}
@media all and (max-width:1200px) and (min-width:960px) {
    .imageOneProduct{
        width:309px;
        border-radius:4px;
        object-fit: cover;
        opacity:1;
    }
    .dispositionImageProduct{
        display:flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
}
@media all and (max-width:960px) and (min-width:640px) {
    .imageOneProduct{
        width: calc(300px + 15vw);
        border-radius:4px;
        object-fit: cover;
        opacity:1;
        margin-right:5vw;
    }
    .dispositionImageProduct{
        display:flex;
        justify-content: center;
    }
    
}
@media all and (max-width:639px) and (min-width:601px) {
    .imageOneProduct{
        width:390px;
        border-radius:4px;
        object-fit: cover;
        opacity:1;
    }
    .dispositionImageProduct{
        display:flex;
        justify-content: center;
    }
}

@media all and (max-width:600px) {
    .imageOneProduct{
        width:100%;
        border-radius:4px;
        object-fit: cover;
        opacity:1;
    }
}
@media all and (min-width:600px) and (max-width:1200px) {
    .paginationResponsive{
        margin-left:13%;
    }
}
@media all and (min-width:1200px)  {
    .paginationResponsive{
        margin-left:20px;
    }
}
.progressBar{
    width:160px;
    height:10px;
    border-radius:5px;
    margin-top:5px;
}
.divNewProduct{
    color: rgb(239 239 239);
    margin-left:10px;
    padding-bottom:2px;
    padding-left:10px;
    padding-top:5px;
    padding-right:10px;
    letter-spacing: 2px;
    background-color: #3a3a3a;
    position:relative;
    top:10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.divFavoriteProduct{
    color: rgb(239 239 239);
    margin-left:10px;
    padding-bottom:2px;
    padding-left:10px;
    padding-top:5px;
    padding-right:10px;
    letter-spacing: 2px;
    background-color: #881212;
    position:relative;
    top:11px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}




.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #a3bcd3;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


