@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Roboto:wght@300&family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

html { 
    
    
  }
.generalFont{
    font-family: sans-serif;
}
.generalBackground{
    background-color:rgb(255, 251, 238);
    /* background-color:rgb(255, 255, 255); */
}
.backgroundWhite{
    background-color: white;
}
.bgBlue{
    background-color:rgb(240, 240, 240);
}
.bgSuccess{
    background-color:rgb(38 165 38);
}
.flex{
    display:flex;
}
.flexColumn{
    display:flex;
    flex-direction: column;
}
.justifyText{
    margin-left:auto;
    margin-right:auto;
    text-align: justify;
    text-justify: inter-word;
}
.emptyStar{
    color:rgb(253, 225, 149);
}
.centerText{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    
}
.textAlignCenter{
    text-align: center;
}
.cursorPointer{
    cursor:pointer;
}
.verticalAlign{
    display:flex;
    align-items: center;
    justify-content: center;
}
.verticalItem{
    display:flex;
    align-items: center;
}
.textCenter{
    text-align: center;
}
.flexStart{
    display:flex;
    align-items: flex-start;
}
.flexEnd{
    display:flex;
    justify-content: flex-end;
}
.flexEndItems{
    display:flex;
    align-items: flex-end;
}
.flexRowReverse{
    display:flex;
    flex-direction: row-reverse;
}
.flexCenter{
    display:flex;
    justify-content: center;
}
.flexColumn{
    display:flex;
    flex-direction: column;
}
.flexBetween{
    display:flex;
    justify-content: space-between;
}
.flexAround{
    display:flex;
    justify-content: space-around;
}
.lightShadowCard{
    -webkit-box-shadow: 0 0 2px 1px rgb(214, 214, 214);
    -moz-box-shadow: 0 0 2px 1px rgb(214, 214, 214);
    box-shadow: 0 0 2px 1px rgb(214, 214, 214);
}
.lightShadowCard1{
    -webkit-box-shadow: 0 0 2px 1px rgb(233, 233, 233);
    -moz-box-shadow: 0 0 2px 1px rgb(233, 233, 233);
    box-shadow: 0 0 2px 1px rgb(233, 233, 233);   
}
.lightShadowCard2{
    box-shadow:  0 0 10px  rgba(216, 216, 216, 0.6);
      -moz-box-shadow: 0 0 10px  rgba(216, 216, 216, 0.6);
      -webkit-box-shadow: 0 0 10px  rgba(216, 216, 216, 0.6);
      -o-box-shadow: 0 0 10px  rgba(216, 216, 216, 0.6);
}
.lightShadowCard3{
    -webkit-box-shadow: 0 0 2px 1px rgb(239, 239, 239);
    -moz-box-shadow: 0 0 2px 1px rgb(239, 239, 239);
    box-shadow: 0 0 2px 1px rgb(239, 239, 239);   
}
.shadowProduct1{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.boxShadowButton{
    box-shadow: rgba(199, 199, 199, 0.24) 0px 3px 8px;
 }
.underlined{
    text-decoration: underline;
}
.textDecorationNone{
    text-decoration: none;
}
.textDecorationLineThrough{
    text-decoration-line: line-through;
}
.bgWhite{
    background-color:white;
}
.bgWhite1{
    background-color:rgb(250, 250, 250);
}
.bgWhite2{
    background-color:rgb(245, 245, 245);
}
.bgWhite3{
    background-color:rgb(240, 240, 240);
}
.productCard{
    width:200px;
    /* height:300px; */
    background-color: rgb(173, 199, 199);
}
.greyLineProduct{
    width:100%;
    height:1px;
    background-color:rgb(223, 223, 223);
}
.lightGrey{
    background-color:rgb(223, 223, 223);
}
.borderNone{
    border:none;
}
.borderRadius1{
    border-radius: 1px;
}
.borderRadius2{
    border-radius: 2px;
}
.borderRadius3{
    border-radius: 3px;
}
.borderRadius4{
    border-radius: 4px;
}
.borderRadius5{
    border-radius: 5px;
}
.borderRadius10{
    border-radius: 10px;
}
.borderRadius15{
    border-radius: 15px;
}
.borderRadius20{
    border-radius: 20px;
}
.borderRadius25{
    border-radius: 25px;
}
.grey1{
    color:rgb(225, 225, 225)
}
.grey2{
    color:rgb(200, 200, 200)
}
.grey3{
    color:rgb(175, 175, 175)
}
.grey4{
    color:rgb(150, 150, 150)
}
.grey5{
    color:rgb(125, 125, 125)
}
.grey6{
    color:rgb(100, 100, 100)
}
.grey7{
    color:rgb(75, 75, 75)
}
.grey8{
    color:rgb(50, 50, 50)
}
.grey9{
    color:rgb(25, 25, 25)
}
.cardProduct{ 
    width:260px;
    margin:10px;
    border-radius:4px; 
    transition: all .2s ease-in-out;
    background-color: white;
}
.cardProductCarousel{
    width:90%;
    margin-left:10px;
    margin-right:10px;
    border-radius:4px; 
    transition: all .2s ease-in-out;
    background-color: white;
}
.cardProduct:hover{
   
    border-radius:4px; 
    /* opacity:0.8; */
    /* transform: scale(1.02); */
}
.cardProduct:hover{
    opacity:0.8;
}
.cardProduct:hover .imageProduct{
    opacity:0.6;
}
.hideProduct{
    opacity:0;
    height:50px;
    /* margin-right:auto; */
}
.elementAppear{
    font-size:1.3em;
    font-weight:400;
}
.cardProduct:hover .hideProduct{
   display:block;
   position:relative;
   top:-130px;
   z-index: 100;
   /* font-size:1.5em; */
   background:transparent;
   opacity:1;
}
.cardProduct:hover .elementAppear{
    width:80%;
    margin-right:auto;
    margin-left:auto;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color:rgb(219, 219, 219); */
    border:2px solid rgb(95, 84, 84);
    border-radius:5px;
 }
 .hoverUnderlined:hover{
    text-decoration: underline;
    cursor:pointer;
 }
 .alignRight{
    display:flex;
    flex-direction: row-reverse;
 }
 .flexEnd{
     display:flex;
     align-items: flex-end;
 }
 .colorButton1{
    background-color: rgb(235, 229, 209);
 }
 .textWhite{
     color:white;
 }
 .textRed{
     color:red;
 }
 .height10{
     height:10px;
 }
 .height20{
     height:20px;
 }
 .height27{
     height:27px;
 }
 .height28{
     height:28px;
 }
 .height29{
     height:29px;
 }
 .height30{
     height:30px;
 }
 .height31{
     height:31px;
 }
 .height32{
     height:32px;
 }
 .height33{
     height:33px;
 }
 .height34{
     height:34px;
 }
 .height40{
     height:40px;
 }
 .height50{
     height:50px;
 }
 .height60{
     height:60px;
 }
 .height70{
     height:70px;
 }
 .height80{
     height:80px;
 }
 .minHeight10{
     min-height:10px;
 }
 .minHeight20{
     min-height:20px;
 }
 .minHeight30{
     min-height:30px;
 }
 .minHeight40{
     min-height:40px;
 }
 .minHeight50{
     min-height:50px;
 }
 .minHeight60{
     min-height:60px;
 }
 .minHeight70{
     min-height:70px;
 }
 .minHeight80{
     min-height:80px;
 }
 .minHeight90{
     min-height:90px;
 }
 .minHeight100{
     min-height:100px;
 }
 .lineHeight1{
    line-height: 115%;
 }
 .lineHeight1{
    line-height: 130%;
 }
 .lineHeight1{
    line-height: 145%;
 }
 .lineHeight1{
    line-height: 160%;
 }
 .lineHeight1{
    line-height: 175%;
 }
 .letterSpacing1{
     letter-spacing: 1px;
 }
 .letterSpacing2{
     letter-spacing: 2px;
 }
 .letterSpacing3{
     letter-spacing: 3px;
 }
 .letterSpacing4{
     letter-spacing: 4px;
 }
 .letterSpacing5{
     letter-spacing: 5px;
 }
 .wordSpacing1{
     word-spacing: 1px;
 }
 .wordSpacing2{
     word-spacing: 2px;
 }
 .wordSpacing3{
     word-spacing: 3px;
 }
 .wordSpacing4{
     word-spacing: 4px;
 }
 .wordSpacing5{
     word-spacing: 5px;
 }
 .textShadow1{
    text-shadow: 2px 4px 5px rgb(212, 212, 212);
 }
 .bold100{
     font-weight:100;
 }
 .bold200{
     font-weight:200;
 }
 .bold300{
     font-weight:300;
 }
 .bold400{
     font-weight:400;
 }
 .bold500{
     font-weight:500;
 }
 .bold600{
     font-weight:600;
 }
 .bold700{
     font-weight:700;
 }
 .bold800{
     font-weight:800;
 }
 .size01{
     font-size:0.1em;
 }
 .size02{
     font-size:0.2em;
 }
 .size03{
     font-size:0.3em;
 }
 .size04{
     font-size:0.4em;
 }
 .size05{
     font-size:0.5em;
 }
 .size06{
     font-size:0.6em;
 }
 .size07{
     font-size:0.7em;
 }
 .size08{
     font-size:0.8em;
 }
 .size09{
     font-size:0.9em;
 }
 .size1{
     font-size:1.1em;
 }
 .size2{
     font-size:1.2em;
 }
 .size3{
     font-size:1.3em;
 }
 .size4{
     font-size:1.4em;
 }
 .size5{
     font-size:1.5em;
 }
 .size6{
     font-size:1.6em;
 }
 .size7{
     font-size:1.7em;
 }
 .size8{
     font-size:1.8em;
 }
 .size9{
     font-size:1.9em;
 }
 .size10{
     font-size:2em;
 }
 .size11{
     font-size:2.1em;
 }
 .size12{
     font-size:2.2em;
 }
 .size13{
     font-size:2.3em;
 }
 .size14{
     font-size:2.4em;
 }
 .size15{
     font-size:2.5em;
 }
 .font1{
    font-family: Georgia, serif;
 }
 .font2{
    font-family: sans-serif;
 }
 .font3{
    font-family: serif;
 }
 .font4{
    font-family: cursive;
 }
 .font5{
    font-family: system-ui;
 }
 .font6{
    font-family: monospace;
 }
 .font7{
    font-family: fantasy;
 }
 .font8{
    font-family: 'Roboto', sans-serif;
    font-family: 'Zen Antique Soft', serif;
 }
 .font9{
    font-family: 'Dancing Script', cursive;
 }
 /* font 10 sympa  */
 .font10{ 
    font-family: 'Lobster', cursive;
 }
 .font11{
    font-family: 'Oswald', sans-serif;
 }
 .opacity9{
    opacity:0.9;
 }
 .opacity8{
    opacity:0.8;
 }
 .opacity7{
    opacity:0.7;
 }
 .opacity6{
    opacity:0.6;
 }
 .opacity5{
    opacity:0.5;
 }
 .opacity4{
    opacity:0.4;
 }
 .opacity3{
    opacity:0.3;
 }
 .opacity2{
    opacity:0.2;
 }
 .opacity1{
    opacity:0.1;
 }
 .mw-1{
     margin: 2vw;
 }
 .mw-2{
     margin: 4vw;
 }
 .mw-3{
     margin: 6vw;
 }
 .mw-4{
     margin: 8vw;
 }
 .mw-5{
     margin: 10vw;
 }
 .mw-6{
     margin: 14vw;
 }
 .mw-7{
     margin: 18vw;
 }
 .mw-8{
     margin: 22vw;
 }
 .mw-9{
     margin: 26vw;
 }
 .mw-10{
     margin: 30vw;
 }
 .mtw-1{
     margin-top: 2vw;
 }
 .mtw-2{
    margin-top: 4vw;
 }
 .mtw-3{
    margin-top: 6vw;
 }
 .mtw-4{
    margin-top: 8vw;
 }
 .mtw-5{
    margin-top: 10vw;
 }
 .mtw-6{
    margin-top: 14vw;
 }
 .mtw-7{
    margin-top: 18vw;
 }
 .mtw-8{
    margin-top: 22vw;
 }
 .mtw-9{
    margin-top: 26vw;
 }
 .mtw-10{
    margin-top: 30vw;
 }
 .mrw-1{
     margin-right: 2vw;
 }
 .mrw-2{
    margin-right: 4vw;
 }
 .mrw-3{
    margin-right: 6vw;
 }
 .mrw-4{
    margin-right: 8vw;
 }
 .mrw-5{
    margin-right: 10vw;
 }
 .mrw-6{
    margin-right: 14vw;
 }
 .mrw-7{
    margin-right: 18vw;
 }
 .mrw-8{
    margin-right: 22vw;
 }
 .mrw-9{
    margin-right: 26vw;
 }
 .mrw-10{
    margin-right: 30vw;
 }
 .mlw-1{
     margin-left: 2vw;
 }
 .mlw-2{
    margin-left: 4vw;
 }
 .mlw-3{
    margin-left: 6vw;
 }
 .mlw-4{
    margin-left: 8vw;
 }
 .mlw-5{
    margin-left: 10vw;
 }
 .mlw-6{
    margin-left: 14vw;
 }
 .mlw-7{
    margin-left: 18vw;
 }
 .mlw-8{
    margin-left: 22vw;
 }
 .mlw-9{
    margin-left: 26vw;
 }
 .mlw-10{
    margin-left: 30vw;
 }
 .mbw-1{
     margin-bottom: 2vw;
 }
 .mbw-2{
    margin-bottom: 4vw;
 }
 .mbw-3{
    margin-bottom: 6vw;
 }
 .mbw-4{
    margin-bottom: 8vw;
 }
 .mbw-5{
    margin-bottom: 10vw;
 }
 .mbw-6{
    margin-bottom: 14vw;
 }
 .mbw-7{
    margin-bottom: 18vw;
 }
 .mbw-8{
    margin-bottom: 22vw;
 }
 .mbw-9{
    margin-bottom: 26vw;
 }
 .mbw-10{
    margin-bottom: 30vw;
 }
.mt-1{
    margin-top:5px
}
.mt-2{
    margin-top:10px
}
.mt-3{
    margin-top:15px
}
.mt-4{
    margin-top:20px
}
.mt-5{
    margin-top:25px
}
.mt-6{
    margin-top:30px
}
.mt-7{
    margin-top:40px
}
.mt-8{
    margin-top:50px
}
.mt-9{
    margin-top:60px
}
.mt-10{
    margin-top:70px
}
.mt-11{
    margin-top:80px
}
.mt-12{
    margin-top:90px
}
.mt-13{
    margin-top:100px
}
.mt-14{
    margin-top:120px
}
.mt-15{
    margin-top:140px
}
.pt-1{
    padding-top:5px
}
.pt-2{
    padding-top:10px
}
.pt-3{
    padding-top:15px
}
.pt-4{
    padding-top:20px
}
.pt-5{
    padding-top:25px
}
.pt-6{
    padding-top:30px
}
.pt-7{
    padding-top:40px
}
.pt-8{
    padding-top:50px
}
.pt-9{
    padding-top:60px
}
.pt-10{
    padding-top:70px
}
.pt-11{
    padding-top:80px
}
.pt-12{
    padding-top:90px
}
.pt-13{
    padding-top:100px
}
.pt-14{
    padding-top:120px
}
.pt-15{
    padding-top:140px
}
.m-1{
    margin:5px
}
.m-2{
    margin:10px
}
.m-3{
    margin:15px
}
.m-4{
    margin:20px
}
.m-5{
    margin:25px
}
.m-6{
    margin:30px
}
.m-7{
    margin:40px
}
.m-8{
    margin:50px
}
.m-9{
    margin:60px
}
.m-10{
    margin:70px
}
.m-11{
    margin:80px
}
.m-12{
    margin:90px
}
.m-13{
    margin:100px
}
.m-14{
    margin:120px
}
.m-15{
    margin:140px
}
.p-1{
    padding:5px
}
.p-2{
    padding:10px
}
.p-3{
    padding:15px
}
.p-4{
    padding:20px
}
.p-5{
    padding:25px
}
.p-6{
    padding:30px
}
.p-7{
    padding:40px
}
.p-8{
    padding:50px
}
.p-9{
    padding:60px
}
.p-10{
    padding:70px
}
.p-11{
    padding:80px
}
.p-12{
    padding:90px
}
.p-13{
    padding:100px
}
.p-14{
    padding:120px
}
.p-15{
    padding:140px
}
.ml-1{
    margin-left:5px
}
.ml-2{
    margin-left:10px
}
.ml-3{
    margin-left:15px
}
.ml-4{
    margin-left:20px
}
.ml-5{
    margin-left:25px
}
.ml-6{
    margin-left:30px
}
.ml-7{
    margin-left:40px
}
.ml-8{
    margin-left:50px
}
.ml-9{
    margin-left:60px
}
.ml-10{
    margin-left:70px
}
.ml-11{
    margin-left:80px
}
.ml-12{
    margin-left:90px
}
.ml-13{
    margin-left:100px
}
.ml-14{
    margin-left:120px
}
.ml-15{
    margin-left:140px
}
.pl-1{
    padding-left:5px
}
.pl-2{
    padding-left:10px
}
.pl-3{
    padding-left:15px
}
.pl-4{
    padding-left:20px
}
.pl-5{
    padding-left:25px
}
.pl-6{
    padding-left:30px
}
.pl-7{
    padding-left:40px
}
.pl-8{
    padding-left:50px
}
.pl-9{
    padding-left:60px
}
.pl-10{
    padding-left:70px
}
.pl-11{
    padding-left:80px
}
.pl-12{
    padding-left:90px
}
.pl-13{
    padding-left:100px
}
.pl-14{
    padding-left:120px
}
.pl-15{
    padding-left:140px
}
.mr-1{
    margin-right:5px
}
.mr-2{
    margin-right:10px
}
.mr-3{
    margin-right:15px
}
.mr-4{
    margin-right:20px
}
.mr-5{
    margin-right:25px
}
.mr-6{
    margin-right:30px
}
.mr-7{
    margin-right:40px
}
.mr-8{
    margin-right:50px
}
.mr-9{
    margin-right:60px
}
.mr-10{
    margin-right:70px
}
.mr-11{
    margin-right:80px
}
.mr-12{
    margin-right:90px
}
.mr-13{
    margin-right:100px
}
.mr-14{
    margin-right:120px
}
.mr-15{
    margin-right:140px
}
.pr-1{
    padding-right:5px
}
.pr-2{
    padding-right:10px
}
.pr-3{
    padding-right:15px
}
.pr-4{
    padding-right:20px
}
.pr-5{
    padding-right:25px
}
.pr-6{
    padding-right:30px
}
.pr-7{
    padding-right:40px
}
.pr-8{
    padding-right:50px
}
.pr-9{
    padding-right:60px
}
.pr-10{
    padding-right:70px
}
.pr-11{
    padding-right:80px
}
.pr-12{
    padding-right:90px
}
.pr-13{
    padding-right:100px
}
.pr-14{
    padding-right:120px
}
.pr-15{
    padding-right:140px
}
.mb-1{
    margin-bottom:5px
}
.mb-2{
    margin-bottom:10px
}
.mb-3{
    margin-bottom:15px
}
.mb-4{
    margin-bottom:20px
}
.mb-5{
    margin-bottom:25px
}
.mb-6{
    margin-bottom:30px
}
.mb-7{
    margin-bottom:40px
}
.mb-8{
    margin-bottom:50px
}
.mb-9{
    margin-bottom:60px
}
.mb-10{
    margin-bottom:70px
}
.mb-11{
    margin-bottom:80px
}
.mb-12{
    margin-bottom:90px
}
.mb-13{
    margin-bottom:100px
}
.mb-14{
    margin-bottom:120px
}
.mb-15{
    margin-bottom:140px
}
.pb-1{
    padding-bottom:5px
}
.pb-2{
    padding-bottom:10px
}
.pb-3{
    padding-bottom:15px
}
.pb-4{
    padding-bottom:20px
}
.pb-5{
    padding-bottom:25px
}
.pb-6{
    padding-bottom:30px
}
.pb-7{
    padding-bottom:40px
}
.pb-8{
    padding-bottom:50px
}
.pb-9{
    padding-bottom:60px
}
.pb-10{
    padding-bottom:70px
}
.pb-11{
    padding-bottom:80px
}
.pb-12{
    padding-bottom:90px
}
.pb-13{
    padding-bottom:100px
}
.pb-14{
    padding-bottom:120px
}
.pb-15{
    padding-bottom:140px
}
.m--1{
    margin:-5px;
}
.m--2{
    margin:-10px;
}
.m--3{
    margin:-15px;
}
.m--4{
    margin:-20px;
}
.m--5{
    margin:-25px;
}
.mt--1{
    margin-top:-5px;
}
.mt--2{
    margin-top:-10px;
}
.mt--3{
    margin-top:-15px;
}
.mt--4{
    margin-top:-20px;
}
.mt--5{
    margin-top:-25px;
}
.mb--1{
    margin-bottom:-5px;
}
.mb--2{
    margin-bottom:-10px;
}
.mb--3{
    margin-bottom:-15px;
}
.mb--4{
    margin-bottom:-20px;
}
.mb--5{
    margin-bottom:-25px;
}
.ml--1{
    margin-left:-5px;
}
.ml--2{
    margin-left:-10px;
}
.ml--3{
    margin-left:-15px;
}
.ml--4{
    margin-left:-20px;
}
.ml--5{
    margin-left:-25px;
}
.mr--1{
    margin-right:-5px;
}
.mr--2{
    margin-right:-10px;
}
.mr--3{
    margin-right:-15px;
}
.mr--4{
    margin-right:-20px;
}
.mr--5{
    margin-right:-25px;
}
.width10{
    width:10px;
}
.width20{
    width:20px;
}
.width30{
    width:30px;
}
.width40{
    width:40px;
}
.width50{
    width:50px;
}
.width100{
    width:100%;
}

.scale1{
    transform: scale(1.1);
}
.scale2{
    transform: scale(1.2);
}
.scale3{
    transform: scale(1.3);
}
.scale4{
    transform: scale(1.4);
}
.scale5{
    transform: scale(1.5);
}
.scale6{
    transform: scale(1.6);
}
.scale7{
    transform: scale(1.7);
}
.scale8{
    transform: scale(1.8);
}
.scale9{
    transform: scale(1.9);
}

